#root
  margin-top: 50px

#app
  display: flex
  width: 800px
  margin: 0 auto
  text-align: center

  #chatbox-1, #chatbox-2
    width: 400px
    border: 1px solid black
    margin: 0 auto
    padding: 10px

  #chatbox-1
    border-right: none
