#root
  // width: 800px

#app
  display: flex
  width: 800px
  margin: 0 auto
  text-align: center

  #chatbox-1, #chatbox-2
    width: 400px
    border: 1px solid black
    margin: 0 auto
    padding: 10px
