
#messages
  height: 500px

#chatbox-1 #user1
  background-color: #F8F8F8

#chatbox-2 #user2
  background-color: #F8F8F8

.message
  text-align: left!important
  padding 5px
  margin-bottom: 5px

  .user
    text-transform: uppercase
    font-size: 0.8em
