#messages
  height: 500px
  div:nth-child(odd)
    background-color: #F8F8F8

.message
  text-align: left!important
  padding 5px
  margin-bottom: 5px

  .user
    text-transform: uppercase
    font-size: 0.8em
